In [1]:
print("My name is Nadir Ali Khan")
print("I am Pyhon Programmer")
print("I am 21 years Old.")

My name is Nadir Ali Khan
I am Pyhon Programmer
I am 21 years Old.

In [7]:
name = "Nadir Ali"
my_fav_number = 12
float = 4.1
favorite_food = "Chicken Biryani"

print("Name: ", name)
print("My Fav Number: ", my_fav_number)
print("Float: ", float)
print("Food:", favorite_food)

Name:  Nadir Ali
My Fav Number:  12
Float:  4.1
Food: Chicken Biryani

In [11]:
name = input("Enter your name: ")
age = input("Enter your age: ")

print("Hello " + name + " You are " + age + " years old")

Hello Nadir You are 21 years old

In [ ]:
name = "Ali Mehdi"
print("Type of name is", type(name))

Type of name is <class 'str'>

In [13]:
number = 13
print("Type of number is: ", type(number))

Type of number is:  <class 'int'>

In [14]:
decimal = 4.001
print("Type of decimal is: ", type(decimal))

Type of decimal is:  <class 'float'>

In [ ]:
num1 = int(input("Enter num1: "))
num2 = int(input("Enter num2: "))
print(num1 + num2)

-3

In [ ]:
num3 = int(input("enter num3"))
)num4 = int(input("enter num4")
print(num3 + num4)

70

In [22]:
num5 = int(input("enter num5"))
num6 = int(input("enter num6"))
print(num5 * num6)

36

In [25]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
year_left = 100 - age 

print("Hello " + name + " You will turn in " + str(100)+ " After " + str(year_left) )

Hello Nadir You will turn in 100 After 88

119