In [2]:
for nadir in range(1,11):
    print("Nadir is great!", nadir)

Nadir is great! 1
Nadir is great! 2
Nadir is great! 3
Nadir is great! 4
Nadir is great! 5
Nadir is great! 6
Nadir is great! 7
Nadir is great! 8
Nadir is great! 9
Nadir is great! 10

In [5]:
text = "Cricket"
for char in text:
    print(char)

C
r
i
c
k
e
t

In [8]:
for i in range(1,21, 3):
    print(i)

1
4
7
10
13
16
19

In [9]:
names = ['Nadir', "Ihsan", "Janzeb", "Mehdi", "Salman"]
for name in names:
    print(name)

Nadir
Ihsan
Janzeb
Mehdi
Salman

In [12]:
numbers = [1,3,5,7,9,11,13,15]
total = 0
for num in numbers:
    total += num
print(f'Total sum: {total}')

Total sum: 64

In [13]:
for i in range(1, 6):
    for j in range(1, 6):
        print(i * j, end='\t')
    print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [18]:
for i in range(1,21):
    print(f"{i} x {297} = {i*297}")

1 x 297 = 297
2 x 297 = 594
3 x 297 = 891
4 x 297 = 1188
5 x 297 = 1485
6 x 297 = 1782
7 x 297 = 2079
8 x 297 = 2376
9 x 297 = 2673
10 x 297 = 2970
11 x 297 = 3267
12 x 297 = 3564
13 x 297 = 3861
14 x 297 = 4158
15 x 297 = 4455
16 x 297 = 4752
17 x 297 = 5049
18 x 297 = 5346
19 x 297 = 5643
20 x 297 = 5940